.main {
  width: 100vw;
  height: 100vh;
  position: relative;

  padding: 1.5rem;

  overflow-x: hidden;
  transition: 0.3s ease-in-out;

  @media (min-width: 768px) {
    font-size: 1.15rem;
    padding: 2.5rem;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.sansSerif {
  font-family: var(--inter);
}

.serif {
  font-family: var(--lora);
}

.mono {
  font-family: var(--inconsolata);
}

.dark {
  background-color: var(--black);
  color: var(--white);

  h3 {
    color: var(--grey);
  }

  a {
    color: var(--white);
  }
}

.light {
  background-color: var(--dull-white);
  color: var(--black);

  h3 {
    color: var(--grey);
  }

  a {
    color: var(--black);
  }
}
