.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dividerLine {
  width: 2px;
  background-color: var(--light-grey);
  margin: 0 1rem;
}

.img {
  width: 28px;
  height: 32px;
}
