.icon,
.toggleContainer,
.buttonContainer {
  display: flex;
  align-items: center;
}

.toggleContainer {
  gap: 0.75rem;
}

.buttonContainer {
  justify-content: center;
}

.icon {
  font-size: 1.2rem;
  transition: .3s;
}

.icon_moon {
  color: var(--purple)
}

.input {
  display: none;
}

.button {
  width: 36px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;

  background-color: var(--white);
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.input:checked + .button::before {
  transform: translateX(16px);
}

.light {
  background-color: var(--grey);
}

.dark {
  background-color: var(--purple);
}
